.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar-link {
  color: white;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img {
  max-width: 500px;
}

footer {
  margin-top: 100px;
  border-top: 1px solid #dddddd;
  padding: 30px;
}

.post-img {
  width: 100%;
  height: 300px;
  /* object-fit: cover; */
}

.user-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* object-fit: cover; */
}

p {
  text-align: justify;
  /* line-height: 30px; */
}

.manu-img {
  width: 100%;
}
